############################
# Maven
############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

############################
# Spring Boot
############################
*.log
logs/
spring.log

############################
# Compiled Files
############################
*.class

############################
# IDE - Eclipse
############################
.metadata/
.settings/
.project
.classpath
.factorypath
.springBeans

############################
# IDE - IntelliJ
############################
.idea/
*.iml

############################
# VS Code
############################
.vscode/

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Docker
############################
docker-compose.override.yml

############################
# Environment Files
############################
.env
.env.*

############################
# Crash Logs
############################
hs_err_pid*
replay_pid*